# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Storebackend/venv/
backend/app/__pycache__/
**/__pycache__/
*.db
node_modules/
